/******* WEB & GLOBAL */

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #fff;
}

a {text-decoration: none;}
p { padding: 0; margin: 0;}
h4 {margin: 10px 0;}

#box-menu {
	position: fixed;
	text-transform: uppercase;
	z-index: 20000;
}

#fixed-menu {
	position: fixed;
	z-index: 20000;
	width: 100px;
	background: #000;	
	left: 0;
	height: 100%;
}

#show-menu, #hide-menu {
	width: 60px;
	padding: 20px 20px 0 43px;
	cursor: pointer;
	background-repeat: no-repeat;
	font-weight: 700;
	color: #fff;
}

#show-menu {background-image: url(../images/menu.png); background-position: 20px 24px;}
#hide-menu {background-image: url(../images/close.png);background-position: 20px 24px;}

#fixed-links {
	font-size: 10px;
	position: absolute;
	height: 330px;
	top: 50%;
	margin-top: -210px;
}

#fixed-links a {
	color: #fff;
	float: left;
	clear: both;
	margin : 5px 0;
	padding: 15px 0 15px 20px;
	width: 60px;
	line-height: 130%;
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}

#fixed-links a:nth-child(1) {	background-image: url(../images/essentiel.png);}
#fixed-links a:nth-child(1):hover {	background-image: url(../images/essentiel-hover.png);}

#fixed-links a:nth-child(2) {	background-image: url(../images/apprendre.png);}
#fixed-links a:nth-child(2):hover {	background-image: url(../images/apprendre-hover.png);}

#fixed-links a:nth-child(3) {	background-image: url(../images/hebergement.png);}
#fixed-links a:nth-child(3):hover {	background-image: url(../images/hebergement-hover.png);}

#fixed-links a:nth-child(4) {	background-image: url(../images/ou.png);}
#fixed-links a:nth-child(4):hover {	background-image: url(../images/ou-hover.png);}

#fixed-links a:nth-child(5) {	background-image: url(../images/news.png);}
#fixed-links a:nth-child(5):hover {	background-image: url(../images/news-hover.png);}

#fixed-footer {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

#share, #weather {
	margin: 8px 3px 0 3px;
	display: inline-block;
	cursor: pointer;
	position: relative;
}

.miniMenu {
	display: none;
	position: absolute;
	width: 120px;
	font-size: 12px;
	line-height: 100%;
	font-weight: 400;
	text-transform: none;
	background: #808080;
	text-align: left;
	bottom: 33px;
	left:-6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 10px;
}

.miniMenu a { 
	margin-bottom: 10px; 
	cursor: pointer;
	display: inline-block;
	color: #fff;
}

.miniMenuLinks a:last-child { margin-bottom: 0;}
.miniMenu a:hover {color:#000;}

.arrowMiniMenu {
	width: 13px;
	height: 5px;
	position: absolute;
	background-image: url(../images/arrowMinMenu.png);
	bottom: -5px;
}

.facebookLink, .vigicruesLink, .meteoLink, .lunesLink {
	padding-left: 20px;
	background-image: url(../images/linkFB.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.facebookLink {	background-image: url(../images/linkFB.png);}
.vigicruesLink {	background-image: url(../images/linkVigicrues.png); height: 16px;}
.meteoLink {	background-image: url(../images/linkMeteo.png); height: 16px;}
.lunesLink {	background-image: url(../images/linkLunes.png); height: 16px;}

#sliding-menu {
	position: fixed;
	z-index: 19999;
	left: -180px;
/* 	left: 100px; */
	top: 0;
	background: #000;
	height: 100%;
	width: 280px;
}

#sliding-menu form {
	float: right;
	width: 270px;
	padding: 18px 0 40px 0;
}

#sliding-menu input[type=text] {
	width: 180px;
	border: none;
	border-bottom: solid 1px #7d7d7d;
	background: transparent;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	color: #fff;
	height: 15px;
	padding: 3px 0;
	margin: 0;
	float: left;
}

#sliding-menu input[type=submit] {
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	border: none;
	border-bottom: solid 1px #7d7d7d;	
	background-color: transparent;
	background-position: center center;
	width: 15px;
	padding: 3px;
	margin: 0;
	height: 22px;
	float: left;
	cursor: pointer;
}

#sliding-menu ul {
	list-style: none;
	float: right;
	width: 270px;
	padding: 0; 
	margin: 0;
}

#sliding-menu ul li, #sliding-menu ul a {
	font-size: 14px;
	color: #fff;
	background: #333333;
	margin-bottom: 10px;
	padding: 7px 0 7px 15px;
	cursor: pointer;
}

#sliding-menu ul a {padding: 0;}
#sliding-menu a:hover {color:#ff6d00;}

#sliding-menu ul div {	display: none;}

#sliding-menu ul div li {	
	padding: 0px 0 15px 15px;
	cursor: default;
	background: #000;
	text-transform: none;
	border-bottom: 1px solid #3f3f3f;
}

#sliding-menu ul div li:last-child {
	border-bottom: none;
	margin-bottom: 20px;
}

#sliding-menu ul div li a {
	background: #000;
}


a#kiosque-link {
	float: right;
	width: 245px;
	color: #fff;
	margin : 20px 0 15px 0;
	background-image: url(../images/kiosque.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}

#news-box {
	float: right;
	width: 250px;
	margin-right: 20px;	
	margin-top: 15px;
	padding-top: 30px;
	border-top: solid 1px #4d4d4d;
}

#news-box h3 {
	font-size: 12px;
	font-weight: 600;
	margin: 0 0 8px 0;
	width: 245px;
	color: #fff;
	background-image: url(../images/calendar.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}

.news-item a {
	color: #ff6d00;
	text-transform: none;
	font-weight: 400;
}

.news-item a span {
	font-size: 14px;
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
}

.newsPager {
	float: left;
	clear: both;
	padding-top: 20px;
	width: 100%;
	text-align: center;
  	font-family: Georgia, serif;
}

.newsPager span {
	display: inline-block;
	font-size: 30px;
	color: #fff;
	height: 22px;
	padding: 0 5px;
	cursor: pointer;
}

.newsPager span.cycle-pager-active, .newsPager span:hover {
	color: #ff6d00;
}

#sliding-footer {
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-transform: none;
	text-align: right;
}

#sliding-footer a {
	color: #808080;
	font-size: 10px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 100%;
}

#sliding-footer a:hover {
	color: #ff6d00;
}

.video-overlay {
	position: fixed;
	z-index: 18000;
	background-image: url(../images/videoOverlay.png);
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

#box_video {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

#legendVideo, #legendSlide01, #legendSlide02, #legendSlide03, #legendSlide04, #legendSlide05 {
	position: fixed;
	z-index: 19000;
	background-repeat: no-repeat;
	background-position: right 20px center;
	height: 100%;
	width: 100%;
	right: 0;
	top: 0;	
}

#legendVideo {	background-image: url(../images/legendVideo.png);}
#legendSlide01 {	background-image: url(../images/legendSlide01.png);}
#legendSlide02 {	background-image: url(../images/legendSlide02.png);}
#legendSlide03 {	background-image: url(../images/legendSlide03.png);}
#legendSlide04 {	background-image: url(../images/legendSlide04.png);}
#legendSlide05 {	background-image: url(../images/legendSlide05.png);}

#boxSlider, .imgSlider {
	position: fixed;
	z-index: 19001;	
	width: 100%;
	height: 100%;
	background-color: #000;
}

a.linkSlider {
	position: fixed;
	z-index: 19001;	
	right: 30px;
	bottom: 23px;
	background: #000;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	width: auto !important;
	height: auto !important;
}

a.linkSlider:hover {
	background: #fff;
	color: #000;
}

.slidePager {
	position: absolute;
	bottom: 15px;
	z-index: 19500;
	width: calc(100% + 100px);
	text-align: center;
	line-height: 100%;
  	font-family: Georgia, serif;
}

.slidePager span {
	display: inline-block;
	font-size: 40px;
	color: #fff;
	height: 22px;
	padding: 0 5px;
	cursor: pointer;
}

.slidePager span.cycle-pager-active, .slidePager span:hover {
	color: #ff6d00;
}

iframe#embedMap {
	position: absolute;
	left: 100px;
	top: 0;
	width: calc(100% - 100px);
	height: 100%;
}

#demoImg {
	position: absolute;
	left: 100px;
	top: 0;
	width: calc(100% - 100px);
	height: 100%;	
	text-align: center;
	overflow-x: hidden;
}

#demoImg img {
	float: none;
	position: absolute;
	left: 50%;
	margin-left: -633px;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

#overlayContent {
	position: absolute;
	width: 500px;
	margin-left: -290px;
	left: 50%;
	top:0;
	background: #000;	
	z-index: 30000;
	padding: 40px;
}

#overlayBg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	left: 0;
	top: 0;
	z-index: 29999;
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
}

#closeOverlay {
	float: right;
	cursor: pointer;
	margin-top: -20px;
}

.OverlayNewsSlider {
	float: left;
	clear: both;
	margin-top: 10px;
}

.OverlayNewsItem span {
	font-size: 12px;
	color: #ff6d00;
}

.OverlayNewsItem {
	font-size: 14px;
}

.OverlayNewsItem h3 {
	color: #ff6d00;
	display: block;
	clear: both;
	width: 100%;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 120%;
	padding: 5px 0;
	margin: 0;
}

#overlayPrev, #overlayNext {
	position: absolute;
	top:50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#overlayPrev:hover, #overlayNext:hover, #closeOverlay:hover {
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
}

#overlayPrev {
	left: 0;
	background-image: url(../images/overlayPrev.png);
}

#overlayNext {
	right: 0;
	background-image: url(../images/overlayNext.png);
}

#boxContent {
	width: calc(100% - 100px);
	padding-left: 100px;
	text-align: left;
	font-size: 16px;
	float: left;
	font-weight: 400;
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	color: #000;
}

#contentHeader {
	width: 100%;
	height: 380px;
	position: relative;
}

#contentHeader .contentContainer {
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -390px;
}

.contentContainer {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}

#breadcrumbs { 
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;	
	padding: 0 0 10px 20px;
	float: left;
}

#breadcrumbs a, #breadcrumbs span { 
	color: #fff; 
	padding: 0 15px 0 5px; 
	width: auto !important;
	float: left;
	background-image: url(../images/arrowBread.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#breadcrumbs :first-child {	padding-left: 0;}
#breadcrumbs :last-child {	background-image: none;}

#breadcrumbs a:hover {text-decoration: underline;}

#contentTitle {
	color: #ff6d00;
	text-transform: uppercase;
	font-size: 58px;
	font-weight: 700;
	line-height: 100%;
	padding-left: 20px;
	clear: both;
}

.contentText {	padding: 40px 0;}

#contentLeftCol {
	float: left;
	width: 540px;
	padding-bottom: 40px;
}

.paddingText {
	float: left;
	padding: 0 20px;
}

#contentRightCol {
	float: right;
	width: 200px;
	padding-bottom: 40px;	
}


.paddingText a, #contentRightCol a { color: #ff6d00;}
.paddingText a:hover, #contentRightCol a:hover {	text-decoration: underline;}

#resume {
	color: #ff6d00;
	font-size: 20px;
	padding-bottom: 40px;
}

.paddingText p img {
	float: left;
	margin: 5px 20px 20px 0;
}

.citation {
	font-size: 22px;
	text-align: center;
	font-style: italic;
	font-weight: 600;
	padding: 20px;
	margin: 40px 0;
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
	float: left;
	width: 460px;
	clear: both;
}

.contentSlide {
	width: 540px;
	height: 405px;
	float: left;
	margin: 40px 0;
	position: relative;
}

.contentSlideItem {
	width: 540px;
	height: 405px;
	float: left;	
}

#contentSlidePrev, #contentSlideNext {
	position: absolute;
	z-index: 10000;
	width: 42px;
	height: 40px;
	cursor: pointer;
	top: 185px;
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
}

#contentSlidePrev {
	left: 0;
	background-image: url(../images/contentSlidePrev.jpg);
}

#contentSlideNext {
	right: 0;
	background-image: url(../images/contentSlideNext.jpg);
}

#contentSlidePrev:hover, #contentSlideNext:hover {
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
}

#contentRightCol img {
	margin: 20px 0;
}

#RightColTools {
	float: left;
	width: 200px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px #000;
}

#RightColTools a:hover {
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);	
}

#toolsLeft {
	float: left;
	width: 50%;
}

#toolsLeft a {
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 10px;
}

a#shareFB { background-image: url(../images/iconFB.png);}
a#shareTW { background-image: url(../images/iconTW.png);}
a#shareGG { background-image: url(../images/iconGG.png);}

#toolsRight {
	float: right;
	text-align: right;
	width: 30%;
}

#toolsRight a {
	float: right;
	width: 16px;
	height: 16px;
}

a#toolPrint {	background-image: url(../images/iconPrint.png);}


/*			 LIST 			*/

.contentList {	padding: 40px 0;}
#filtersBox {padding: 0 20px 40px 20px;}

.tabs {
	text-transform: uppercase;
	padding: 20px 40px 10px 40px;
	width: calc(33% - 80px);
	float: left;
	cursor: pointer;
	float: left;
}

.tabs a {	color: #333333;}

.tabs.activeTabs {
	background: #333333;
	color: #fff;
}

#filtersChoice {
	float: left;
	padding: 30px 40px 30px 40px;
	width: calc(100% - 70px);	
	background: #333333;
	color: #fff;
	font-size: 14px;
}

.fitersInput {
	float: left;
	width: 25%;
	margin-bottom: 5px;
}

.fitersInput label {
	margin-left: 5px;
}

#listResults {
	float: left;
	padding: 40px 0;	
	margin-left: 20px;
	width: 750px;
}

#listResults h2 {
	padding: 20px 0 5px 70px;
	margin: 20px 0 40px 0;
	font-size: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	border-bottom: solid 3px;
	font-weight: 700;
	float: left;
	width: calc(100% - 70px);
}

#listResults h2:first-child {margin-top: 0;}

.listItem {
	float: left;
	clear: both;
	width: 100%;
	position: relative;
	border-bottom: solid 1px;
	padding-bottom: 40px;
	margin-bottom: 50px;
}

.listItem h3 {
	text-transform: uppercase;
	font-size: 16px;
	margin: 0px;
	padding: 0;
}

.boxItemText {
	font-size: 14px;
	margin-left: -18px;
	width: 440px;
	float: left;
	position: relative;
	z-index: 2;
}

.itemText {
	background-image: url(../images/notepad.png);
	width: 300px;
	padding: 0 70px; 
}

.notepadTop. notepadBot {
	width: 440px;
}

.notepadTop { background-image: url(../images/notepadTop.png); height: 48px;}
.notepadBot { background-image: url(../images/notepadBot.png); height: 40px;}

/* icons ubleam */
.sansTuer h2 {	background-image: url(../images/iconsFromMap/Parcours%20de%20peche%20sans%20tuer.png);}
.carpeDeNuit h2 {	background-image: url(../images/iconsFromMap/Carpes%20de%20nuit.png);}
.defaultTag h2 {	background-image: url(../images/iconsFromMap/default.png);}
.decouverte h2 {	background-image: url(../images/iconsFromMap/Parcours%20decouverte.png);}
.specialiseesAappma h2 {	background-image: url(../images/iconsFromMap/Parcours%20peche%20AAPPMA.png);}
.embarcations h2 {	background-image: url(../images/iconsFromMap/Embarcations.png);}
.famille h2 {	background-image: url(../images/iconsFromMap/Parcours%20famille.png);}
.touristiques h2 {	background-image: url(../images/iconsFromMap/Parcours%20touristique.png);}
.handipeche h2 {	background-image: url(../images/iconsFromMap/Handipeche.png);}
.floatTube h2 {	background-image: url(../images/iconsFromMap/Float%20tube.png);}
.passion h2 {	background-image: url(../images/iconsFromMap/Parcours%20passion.png);}
.enfants h2 {	background-image: url(../images/iconsFromMap/Parcours%20peche%20Enfants.png);}

/* blue */
.sansTuer h2 {	color: #005bc1;}
.sansTuer .listItem {	border-color: #005bc1;	}
.sansTuer .listItem h3 {	color: #005bc1;	}
.carpeDeNuit h2 {	color: #005bc1;}
.carpeDeNuit .listItem {	border-color: #005bc1;	}
.carpeDeNuit .listItem h3 {	color: #005bc1;	}
.embarcations h2 {	color: #005bc1;}
.embarcations .listItem {	border-color: #005bc1;	}
.embarcations .listItem h3 {	color: #005bc1;	}
.handipeche h2 {	color: #005bc1;}
.handipeche .listItem {	border-color: #005bc1;	}
.handipeche .listItem h3 {	color: #005bc1;	}
.floatTube h2 {	color: #005bc1;}
.floatTube .listItem {	border-color: #005bc1;	}
.floatTube .listItem h3 {	color: #005bc1;	}
.passion h2 {	color: #005bc1;}
.passion .listItem {	border-color: #005bc1;	}
.passion .listItem h3 {	color: #005bc1;	}
.enfants h2 {	color: #005bc1;}
.enfants .listItem {	border-color: #005bc1;	}
.enfants .listItem h3 {	color: #005bc1;	}
/* end blue */

/* green */
.decouverte h2 {	color: #08a012;}
.decouverte .listItem {	border-color: #08a012;	}
.decouverte .listItem h3 {	color: #08a012;	}
.specialiseesAappma h2 {	color: #08a012;}
.specialiseesAappma .listItem {	border-color: #08a012;	}
.specialiseesAappma .listItem h3 {	color: #08a012;	}
.touristiques h2 {	color: #08a012;}
.touristiques .listItem {	border-color: #08a012;	}
.touristiques .listItem h3 {	color: #08a012;	}
/* end green */

/* pink */
.famille h2 {	color: #ff007f;}
.famille .listItem {	border-color: #ff007f;	}
.famille .listItem h3 {	color: #ff007f;	}
/* end pink */

/* orange */
.defaultTag h2 {	color: #ff6d00;}
.defaultTag .listItem {	border-color: #ff6d00;	}
.defaultTag .listItem h3 {	color: #ff6d00;	}
/* end orange */

.itemMap {
	float: left;
	width: 280px;
	height: 280px;
	position: absolute;
	z-index: 1;
	left: 400px;
	top: 40px;
	border: solid 6px #fff;
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

.itemPics {
	position: absolute;
	z-index: 2;
	right: 0;
}

.itemPics a {
	position: absolute;
	width: 170px;
	height: 140px;
	border: solid 12px;
	border-bottom: solid 45px;
	border-color: #fff;	
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

.itemPics a:nth-child(1) {
	z-index: 3;
	right: -50px;
	top: 90px;
}

.itemPics a:nth-child(2) {
	z-index: 2;
	right: -70px;
	top: 40px;
}

.itemPics a:nth-child(3) {
	z-index: 1;
	right: -80px;
	top: 30px;
}

#listResults .rubriqueKiosque h2 {
	color: #ff6d00;
	background-image :url(../images/iconKiosque.png);
	text-transform: uppercase;
}

.rubriqueKiosque .listItem {	border-color: #ff6d00;}
.rubriqueKiosque a.listItem  {	
	color: #000;
	background-image: url(../images/iconPdf.png);
	background-repeat: no-repeat;
	background-position: left top 5px;
	padding-left: 30px;
}
.rubriqueKiosque a.listItem:hover {	color: #ff6d00;}

#boxNewSearch {
	padding-bottom: 40px;
	color: #fff;
}

#boxNewSearch form {
	float: right;
	width: 215px;
}

#boxNewSearch ::-webkit-input-placeholder {   color: #fff;}
#boxNewSearch :-moz-placeholder {    color: #fff;}
#boxNewSearch ::-moz-placeholder {   color: #fff;}
#boxNewSearch :-ms-input-placeholder {    color: #fff;}

#boxNewSearch input[type=text] {
	width: 200px;
	border: none;
	border-bottom: solid 1px #fff;
	background: transparent;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	color: #fff;
	height: 15px;
	padding: 3px 0;
	margin: 0;
	float: left;
}

#boxNewSearch input[type=submit] {
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	border: none;
	border-bottom: solid 1px #fff;	
	background-color: transparent;
	background-position: center center;
	width: 15px;
	padding: 3px;
	margin: 0;
	height: 22px;
	float: left;
	cursor: pointer;
}