/******* WEB & GLOBAL */

#ajax-loader {
	z-index: 30000;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
}

.alert {
	z-index: 30000;
	position: absolute;
	width: 200px;
	padding: 10px;
	top: 10px;
	right: 10px;
	color: #fff;
}

.alert button {
	border: none;
	background: transparent;
	padding: 0;
	float: right;
	color: #fff;
	cursor: pointer;
}
.alert button:hover {color: #000;}
.sr-only { margin-left: 5px;}

.alert-danger-msg, .alert-success-msg {
	float: left;
	width: 100%;
	clear: both;	
	margin-top: 10px;
}

.alert-danger {background: red;}
.alert-success {background: green;}

body {
	background-image: url(../images/pattern/concrete_seamless.png);
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #fff;
}

a {text-decoration: none;}
p { padding: 0; margin: 0;}
h4 {margin: 10px 0;}

#box-menu {
	position: fixed;
	text-transform: uppercase;
	z-index: 20000;
}

#fixed-menu {
	position: fixed;
	z-index: 20000;
	width: 100px;
	background: #000;	
	left: 0;
	height: 100%;
}

#show-menu, #hide-menu {
	width: 60px;
	padding: 20px 20px 0 43px;
	cursor: pointer;
	background-repeat: no-repeat;
	font-weight: 700;
	color: #fff;
}

#show-menu {background-image: url(../images/menu.png); background-position: 20px 24px;}
#hide-menu {background-image: url(../images/close.png);background-position: 20px 24px;}

#fixed-links {
	font-size: 10px;
	position: absolute;
	height: 330px;
	top: 50%;
	margin-top: -210px;
}

#fixed-links a {
	color: #fff;
	float: left;
	clear: both;
	margin : 5px 0;
	padding: 15px 0 15px 20px;
	width: 60px;
	line-height: 130%;
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}

#fixed-links a:nth-child(1) {	background-image: url(../images/essentiel.png);}
#fixed-links a:nth-child(1):hover {	background-image: url(../images/essentiel-hover.png);}

#fixed-links a:nth-child(2) {	background-image: url(../images/apprendre.png);}
#fixed-links a:nth-child(2):hover {	background-image: url(../images/apprendre-hover.png);}

#fixed-links a:nth-child(3) {	background-image: url(../images/hebergement.png);}
#fixed-links a:nth-child(3):hover {	background-image: url(../images/hebergement-hover.png);}

#fixed-links a:nth-child(4) {	background-image: url(../images/ou.png);}
#fixed-links a:nth-child(4):hover {	background-image: url(../images/ou-hover.png);}

#fixed-links a:nth-child(5) {	background-image: url(../images/map.png);}
#fixed-links a:nth-child(5):hover {	background-image: url(../images/map-hover.png);}

#fixed-footer {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

#share, #weather, #alert {
	margin: 8px 3px 0 3px;
	display: inline-block;
	cursor: pointer;
	position: relative;
}


.miniMenu {
	display: none;
	position: absolute;
	width: 120px;
	font-size: 12px;
	line-height: 100%;
	font-weight: 400;
	text-transform: none;
	background: #808080;
	text-align: left;
	bottom: 33px;
	left:-6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 10px;
}

.miniMenu a { 
	margin-bottom: 10px; 
	cursor: pointer;
	display: inline-block;
	color: #fff;
}

.miniMenuLinks a:last-child { margin-bottom: 0;}
.miniMenu a:hover {color:#000;}

.arrowMiniMenu {
	width: 13px;
	height: 5px;
	position: absolute;
	background-image: url(../images/arrowMinMenu.png);
	bottom: -5px;
}

.facebookLink, .vigicruesLink, .meteoLink, .lunesLink {
	padding-left: 20px;
	background-image: url(../images/linkFB.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.facebookLink {	background-image: url(../images/linkFB.png);}
.vigicruesLink {	background-image: url(../images/linkVigicrues.png); height: 16px;}
.meteoLink {	background-image: url(../images/linkMeteo.png); height: 16px;}
.lunesLink {	background-image: url(../images/linkLunes.png); height: 16px;}

#sliding-menu {
	position: fixed;
	z-index: 19999;
	left: -180px;
/* 	left: 100px; */
	top: 0;
	background: #000;
	height: 100%;
	width: 280px;
}

#sliding-menu form {
	float: right;
	width: 270px;
	padding: 18px 0 40px 0;
}

#sliding-menu input[type=text] {
	width: 180px;
	border: none;
	border-bottom: solid 1px #7d7d7d;
	background: transparent;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	color: #fff;
	height: 15px;
	padding: 3px 0;
	margin: 0;
	float: left;
}

#sliding-menu input[type=submit] {
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	border: none;
	border-bottom: solid 1px #7d7d7d;	
	background-color: transparent;
	background-position: center center;
	width: 15px;
	padding: 3px;
	margin: 0;
	height: 22px;
	float: left;
	cursor: pointer;
}

#sliding-menu ul {
	list-style: none;
	float: right;
	width: 270px;
	padding: 0; 
	margin: 0;
}

#sliding-menu ul li, #sliding-menu ul a {
	font-size: 14px;
	color: #fff;
	background: #333333;
	margin-bottom: 10px;
	padding: 7px 0 7px 15px;
	cursor: pointer;
}

#sliding-menu ul a {padding: 0;}
#sliding-menu a:hover {color:#ff6d00;}

#sliding-menu ul div {	display: none;}

#sliding-menu ul div li {	
	padding: 0px 0 15px 15px;
	cursor: default;
	background: #000;
	text-transform: none;
	border-bottom: 1px solid #3f3f3f;
}

#sliding-menu ul div li:last-child {
	border-bottom: none;
	margin-bottom: 20px;
}

#sliding-menu ul div li a {
	background: #000;
}


a#kiosque-link {
	float: right;
	width: 245px;
	color: #fff;
	margin : 20px 0 10px 0;
	background-image: url(../images/kiosque.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}

a#contact-link {
	float: right;
	width: 245px;
	color: #fff;
	margin : 0 0 15px 0;
	background-image: url(../images/contact.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}

#news-box {
	float: right;
	width: 250px;
	margin-right: 20px;	
	margin-top: 15px;
	padding-top: 30px;
	border-top: solid 1px #4d4d4d;
}

#news-box h3 {
	font-size: 12px;
	font-weight: 600;
	margin: 0 0 8px 0;
	width: 245px;
	color: #fff;
	background-image: url(../images/calendar.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}

.news-item a {
	color: #ff6d00;
	text-transform: none;
	font-weight: 400;
}

.news-item a span {
	font-size: 14px;
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
}

.newsPager {
	float: left;
	clear: both;
	padding-top: 20px;
	width: 100%;
	text-align: center;
  	font-family: Georgia, serif;
}

.newsPager span {
	display: inline-block;
	font-size: 30px;
	color: #fff;
	height: 22px;
	padding: 0 5px;
	cursor: pointer;
}

.newsPager span.cycle-pager-active, .newsPager span:hover {
	color: #ff6d00;
}

#sliding-footer {
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-transform: none;
	text-align: right;
}

#sliding-footer a {
	color: #808080;
	font-size: 10px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 100%;
}

#sliding-footer a:hover {
	color: #ff6d00;
}

.video-overlay {
	position: fixed;
	z-index: 18000;
	background-image: url(../images/videoOverlay.png);
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

#box_video {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.legendSlide {
	position: fixed;
	z-index: 19000;
	background-repeat: no-repeat;
	background-position: right 20px center;
	height: 100%;
	width: 100%;
	right: 0;
	top: 0;	
}

#legendVideo {	
	background-image: url(../images/legendVideo.png); 
	position: fixed;
	z-index: 19000;
	background-repeat: no-repeat;
	background-position: right 20px center;
	height: 100%;
	width: 100%;
	right: 0;
	top: 0;	
}

#boxSlider, .imgSlider {
	position: fixed;
	z-index: 19001;	
	width: 100%;
	height: 100%;
	background-color: #000;
}

a.linkSlider {
	position: fixed;
	z-index: 19001;	
	right: 30px;
	bottom: 23px;
	background: #000;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	width: auto !important;
	height: auto !important;
}

a.linkSlider:hover {
	background: #fff;
	color: #000;
}

.slidePager {
	position: absolute;
	bottom: 15px;
	z-index: 19500;
	width: calc(100% + 100px);
	text-align: center;
	line-height: 100%;
  	font-family: Georgia, serif;
}

.slidePager span {
	display: inline-block;
	font-size: 40px;
	color: #fff;
	height: 22px;
	padding: 0 5px;
	cursor: pointer;
}

.slidePager span.cycle-pager-active, .slidePager span:hover {
	color: #ff6d00;
}

iframe#embedMap {
	position: fixed;
	left: 100px;
	top: 0;
	right: 0;
	width: calc(100% - 100px);
	height: 100%;
	padding: 0;
	margin: 0;
}

#demoImg {
	position: absolute;
	left: 100px;
	top: 0;
	width: calc(100% - 100px);
	height: 100%;	
	text-align: center;
	overflow-x: hidden;
}

#demoImg img {
	float: none;
	position: absolute;
	left: 50%;
	margin-left: -633px;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

#overlayContent {
	position: absolute;
	width: 580px;
	margin-left: -280px;
	left: 50%;
	top:0;
	z-index: 30000;
	color: #000;
	height: auto;
	float: left;
}

#overlayBg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	left: 0;
	top: 0;
	z-index: 29999;
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
}

#closeOverlay {
	float: right;
	cursor: pointer;
	right: 20px;
	top: 20px;
	z-index: 101;
	position: absolute;
}

.OverlayNewsSlider{
	float: left;
	clear: both;
	width: 100%;
}

.OverlayNewsItem span {
	font-size: 12px;
	color: #ff7000;
}

.OverlayNewsItem { 
	font-size: 14px;
	background-image: url(../images/pattern/concrete_seamless.png);
	padding: 60px 40px 40px 40px;
}
.OverlayNewsItem a {color: #ff6d00;}

.OverlayNewsItem h3 {
	color: #ff6d00;
	display: block;
	clear: both;
	width: 100%;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 120%;
	padding: 5px 0;
	margin: 0;
}

#overlayPrev, #overlayNext {
	position: absolute;
	top:50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #ff6d00;
	z-index: 200;
}

#overlayPrev:hover, #overlayNext:hover, #closeOverlay:hover {
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
}

#overlayPrev {
	left: 0;
	background-image: url(../images/overlayPrev.png);
}

#overlayNext {
	right: 0;
	background-image: url(../images/overlayNext.png);
}

#boxContent {
	background-image: url(../images/pattern/concrete_seamless.png);
	width: calc(100% - 100px);
	padding-left: 100px;
	text-align: left;
	font-size: 16px;
	float: left;
	font-weight: 400;
	position: absolute;
	left: 0;
	top: 0;
	color: #000;
}

.goUp {
	bottom: 0;
	margin: 0 0 60px 580px;
	position: absolute;
	width: 200px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
.goUp img {margin-right: 5px;}
.goUp:hover { text-decoration: underline;}

#contentHeader {
	width: 100%;
	height: 380px;
	position: relative;
}

#contentHeader .contentContainer {
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -390px;
}

.contentContainer {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}

.contentContainer table {
	width: 100%;
	border:solid 1px black;
	margin: 20px 0;
	 border-collapse: collapse;
}

.contentContainer table td, .contentContainer table th {
	border:solid 1px black;
	padding: 4px;
}

#breadcrumbs { 
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;	
	padding: 0 0 10px 20px;
	float: left;
}

#breadcrumbs a, #breadcrumbs span { 
	color: #fff; 
	padding: 0 15px 0 5px; 
	width: auto !important;
	float: left;
	background-image: url(../images/arrowBread.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#breadcrumbs :first-child {	padding-left: 0;}
#breadcrumbs :last-child {	background-image: none;}

#breadcrumbs a:hover {text-decoration: underline;}

#breadcrumbs .level2 { cursor: pointer;}
#breadcrumbs .level2:hover {text-decoration: underline;}

#contentHeader .sublevel {
	position: absolute;
	background: #fff;	
	left: 90px;
	top: 1.3em;
	list-style: none;
	padding: 5px 10px;
}

#contentHeader .sublevel a {color: inherit;}
#contentHeader .sublevel a:hover {color:#ff6d00 }

#contentTitle {
	color: #ff6d00;
	text-transform: uppercase;
	font-size: 58px;
	font-weight: 700;
	line-height: 100%;
	padding-left: 20px;
	clear: both;
}

.contentText {	padding: 40px 0;}

#contentLeftCol {
	float: left;
	width: 540px;
	padding-bottom: 40px;
}

.paddingText {
	float: left;
	padding: 0 20px;
}

.paddingText ul#sitemap {
	list-style: none;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.paddingText ul#sitemap .sitemapsublevel {
	margin-left: 20px;
	margin-bottom: 20px;
	text-transform: none;
}


#contentRightCol {
	float: right;
	width: 200px;
	padding-bottom: 40px;	
	font-size: 13px;
}

.contentContainer #contentRightCol table td, .contentContainer #contentRightCol table {
	border: none;
}

.paddingText a, #contentRightCol a { color: #ff6d00;}
.paddingText a:hover, #contentRightCol a:hover {	text-decoration: underline;}

#resume {
	color: #ff6d00;
	font-size: 20px;
	padding-bottom: 40px;
}

.paddingText p img {
	float: left;
	margin: 5px 20px 20px 0;
}

.citation, .paddingText blockquote  {
	font-size: 22px;
	text-align: center;
	font-style: italic;
	font-weight: 600;
	padding: 20px;
	margin: 40px 0;
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
	float: left;
	width: 460px;
	clear: both;
}

.contentSlide {
	width: 540px;
	height: 405px;
	float: left;
	margin: 40px 0;
	position: relative;
}

.contentSlideItem {
	width: 540px;
	height: 405px;
	float: left;	
}

#contentSlidePrev, #contentSlideNext {
	position: absolute;
	z-index: 10000;
	width: 42px;
	height: 40px;
	cursor: pointer;
	top: 185px;
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
}

#contentSlidePrev {
	left: 0;
	background-image: url(../images/contentSlidePrev.jpg);
}

#contentSlideNext {
	right: 0;
	background-image: url(../images/contentSlideNext.jpg);
}

#contentSlidePrev:hover, #contentSlideNext:hover {
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
}

#contentRightCol img {
	margin: 20px 0;
}

#RightColTools {
	float: left;
	width: 200px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px #000;
}

#RightColTools a:hover {
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);	
}

#toolsLeft {
	float: left;
	width: 50%;
}

#toolsLeft a {
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	cursor: pointer;
}

a#shareFB { background-image: url(../images/iconFB.png);}
a#shareTW { background-image: url(../images/iconTW.png);}
a#shareGG { background-image: url(../images/iconGG.png);}

#toolsRight {
	float: right;
	text-align: right;
	width: 30%;
}

#toolsRight a {
	float: right;
	width: 16px;
	height: 16px;
}

a#toolPrint {	background-image: url(../images/iconPrint.png);}


/*			 LIST 			*/

.contentList {	padding: 40px 0;}

#presentationBox {
	margin: 0 20px;
	width: calc(100% - 30px);
	padding-bottom: 20px;
}

#filtersBox, #subFiltersBox {
	padding: 80px 20px 40px 20px;
	position: relative;
	float: left;
	clear: both;
	width: calc(100% - 40px);
}

.tabs {
	width: calc(100% - 70px);
	float: left;
	color: #fff;
	background: #726a52;
}

.tabs h2 {	
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 20px;
	background: #726a52;
	width: 240px;
	padding: 15px 40px 15px 40px;
}

.tabs.inativeTabs h2 {
	left: 340px;
	color: #726a52;
	background: transparent;
	cursor: pointer;
}

.tabs.inativeTabs h2:hover { color: #ff6d00;}


#filtersChoice {
	float: left;
	width: 100%;
	background: #726a52;
	color: #fff;
	font-size: 14px;
	padding: 30px 40px;
}

#subFiltersBox {
	padding-top: 0;
	margin-top: -50px;
	width: calc(100% - 110px);
}

#subFiltersBox #filtersChoice {
	background: #554f3d;
}

.inativeTabs #filtersChoice {display: none;}

.filtersInput {
	float: left;
	display: inline-block;
	width: 23%;
	margin-right: 2%;
	padding-bottom: 20px;
	height: 2em;
	line-height: 110%;
}

.filtersInput label {
	float: right;
	width: calc(100% - 20px);
}


.subFilter {
	float: left;
	clear: both;
	padding: 5px 0;
	background: #ff6d00;
	width:100px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
}
.subFilter:hover {background: #fff; color:#ff6d00;  }

#listResults {
	float: left;
	padding: 40px 0;	
	margin-left: 20px;
	width: 750px;
}

#listResults h2 {
	padding: 20px 0 10px 70px;
	margin: 20px 0 40px 0;
	font-size: 24px;
	background-size: contain;
	background-repeat: no-repeat;
/* 	border-bottom: solid 3px; */
	font-weight: 700;
	float: left;
	width: calc(100% - 70px);
}
#listResults .searchNews h2, #listResults .searchPage h2, #listResults .searchPOI h2 {
	color: #ff6d00;	
	background-image: url(../images/iconsFromMap/default.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.search_counter {
	margin-bottom: 40px;
	float: left;
	width: 100%;
	clear: both; 
}

#listResults h2:first-child {margin-top: 0;}

.listItem {
	float: left;
	clear: both;
	width: 100%;
	position: relative;
	border-bottom: solid 1px;
	padding-bottom: 40px;
	margin-bottom: 50px;
}

#listResults .listItem a {color: #000;}
#listResults .listItem a:hover {color: #ff6d00;}

.listItem h3 {
	text-transform: uppercase;
	font-size: 16px;
	margin: 0px;
	padding: 0;
}

.boxItemText {
	font-size: 14px;
	margin-left: -18px;
	width: 440px;
	float: left;
	position: relative;
	z-index: 2;
}

.itemText {
	background-image: url(../images/notepad.png);
	width: 300px;
	padding: 0 70px; 
}

.itemText, .itemText p, .itemText span, .itemText p span {
	font-family: 'Titillium Web' !important;
}

.itemText p a span span {
	color: #ff6d00 !important;
/*
	clear: both;
	display: inline-block;
	width: calc(100% - 20px);
	margin-top: 15px;
	background-image: url(../images/iconPdf.png);
	background-repeat: no-repeat;
	padding-left: 24px;
*/
}
.itemText p a span span:hover {
	color: #000 !important;
}

.notepadTop. notepadBot {
	width: 440px;
}

.notepadTop { background-image: url(../images/notepadTop.png); height: 48px;}
.notepadBot { background-image: url(../images/notepadBot.png); height: 40px;}

#boxNewSearch #search_form {
	float: left;
	clear: both;
	padding-top: 10px;
	width: 100%;
}


#boxNewSearch #search_form input[type="text"] {
	float: left;
	clear: both;
	padding: 10px;
	margin-bottom: 20px;
	width: 300px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
}

#boxNewSearch #search_form input[type="checkbox"] {
	float: left;
	clear: both;	
	font-size: 12px;
	padding: 0;
	margin : 0 0 10px 0;
}

#boxNewSearch #search_form label {
	float: left;
	padding: 0;
	margin: -5px 0 0 5px;
}

#boxNewSearch #search_form input[type="submit"] {
	float: left;
	clear: both;
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #ff6d00;
	padding: 10px 20px;
	border: none;
	margin-top: 10px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
}

/* icons ubleam */
.parcours-de-peche-sans-tuer h2 {	background-image: url(../images/iconsFromMap/Parcours%20de%20peche%20sans%20tuer.png);}
.carpes-de-nuit h2 {	background-image: url(../images/iconsFromMap/Carpes%20de%20nuit.png);}
.defaultTag h2 {	background-image: url(../images/iconsFromMap/default.png);}
.parcours-decouverte h2 {	background-image: url(../images/iconsFromMap/Parcours%20decouverte.png);}
.parcours-peche-aappma h2 {	background-image: url(../images/iconsFromMap/Parcours%20peche%20AAPPMA.png);}
.embarcations h2 {	background-image: url(../images/iconsFromMap/Embarcations.png);}
.parcours-famille h2 {	background-image: url(../images/iconsFromMap/Parcours%20famille.png);}
.parcours-touristique h2 {	background-image: url(../images/iconsFromMap/Parcours%20touristique.png);}
.handipeche h2 {	background-image: url(../images/iconsFromMap/Handipeche.png);}
.float-tube h2 {	background-image: url(../images/iconsFromMap/Float%20tube.png);}
.parcours-passion h2 {	background-image: url(../images/iconsFromMap/Parcours%20passion.png);}
.lacs-1ere-categorie h2 {	background-image: url(../images/iconsFromMap/Lacs%201ere%20categorie.png);}
.lacs-2nd-categorie h2 {	background-image: url(../images/iconsFromMap/Lacs%202nd%20categorie.png);}
.reseau-truite-sauvage h2 {	background-image: url(../images/iconsFromMap/Reseau%20truite%20sauvage.png);}
.territoire-en-1ere-categorie-asticot-autorise h2 {	background-image: url(../images/iconsFromMap/Territoire%20en%201ere%20categorie%20-%20Asticot%20autorise.png);}
.presentation-cours-d-eau h2 {	background-image: url(../images/iconsFromMap/Presentation%20cours%20eau.png);}
.aappma h2 {	background-image: url(../images/iconsFromMap/AAPPMA.png);}
.hebergements-labellises-peche h2 {	background-image: url(../images/iconsFromMap/Hebergements%20labellises%20peche.png);}
.refuges-de-montagne h2 {	background-image: url(../images/iconsFromMap/Refuges%20de%20montagne.png);}

/* blue */
.parcours-de-peche-sans-tuer h2 {	color: #005bc1;}
.parcours-de-peche-sans-tuer .listItem {	border-color: #005bc1;	}
.parcours-de-peche-sans-tuer .listItem h3 {	color: #005bc1;	}
.carpes-de-nuit h2 {	color: #005bc1;}
.carpes-de-nuit .listItem {	border-color: #005bc1;	}
.carpes-de-nuit .listItem h3 {	color: #005bc1;	}
.embarcations h2 {	color: #005bc1;}
.embarcations .listItem {	border-color: #005bc1;	}
.embarcations .listItem h3 {	color: #005bc1;	}
.handipeche h2 {	color: #005bc1;}
.handipeche .listItem {	border-color: #005bc1;	}
.handipeche .listItem h3 {	color: #005bc1;	}
.float-tube h2 {	color: #005bc1;}
.float-tube .listItem {	border-color: #005bc1;	}
.float-tube .listItem h3 {	color: #005bc1;	}
.parcours-passion h2 {	color: #005bc1;}
.pasparcours-passionsion .listItem {	border-color: #005bc1;	}
.parcours-passion .listItem h3 {	color: #005bc1;	}
.parcours-peche-enfants h2 {	color: #005bc1;}
.parcours-peche-enfants .listItem {	border-color: #005bc1;	}
.parcours-peche-enfants .listItem h3 {	color: #005bc1;	}
.reseau-truite-sauvage h2 {	color: #005bc1;} 
.reseau-truite-sauvage .listItem {	border-color: #005bc1;	}
.reseau-truite-sauvage .listItem h3 {	color: #005bc1;	}
.presentation-cours-d-eau h2 {	color: #005bc1;} 
.presentation-cours-d-eau .listItem {	border-color: #005bc1;	}
.presentation-cours-d-eau .listItem h3 {	color: #005bc1;	}
/* end blue */

/* green */
.parcours-decouverte h2 {	color: #08a012;}
.parcours-decouverte .listItem {	border-color: #08a012;	}
.parcours-decouverte .listItem h3 {	color: #08a012;	}
.parcours-peche-aappma h2 {	color: #08a012;}
.parcours-peche-aappma .listItem {	border-color: #08a012;	}
.specialiseparcours-peche-aappmaesAappma .listItem h3 {	color: #08a012;	}
.parcours-touristique h2 {	color: #08a012;}
.parcours-touristique .listItem {	border-color: #08a012;	}
.parcours-touristique .listItem h3 {	color: #08a012;	}
.lacs-1ere-categorie h2 {	color: #08a012;}
.lacs-1ere-categorie .listItem {	border-color: #08a012;	}
.lacs-1ere-categorie .listItem h3 {	color: #08a012;	}
.lacs-2nd-categorie h2 {	color: #08a012;}
.lacs-2nd-categorie .listItem {	border-color: #08a012;	}
.lacs-2nd-categorie .listItem h3 {	color: #08a012;	}
.territoire-en-1ere-categorie-asticot-autorise h2 {	color: #08a012;}
.territoire-en-1ere-categorie-asticot-autorise .listItem {	border-color: #08a012;	}
.territoire-en-1ere-categorie-asticot-autorise .listItem h3 {	color: #08a012;	}
.aappma h2 {	color: #08a012;}
.aappma .listItem {	border-color: #08a012;	}
.aappma .listItem h3 {	color: #08a012;	}
.hebergements-labellises-peche h2 {	color: #08a012;}
.hebergements-labellises-peche .listItem {	border-color: #08a012;	}
.hebergements-labellises-peche .listItem h3 {	color: #08a012;	}
.refuges-de-montagne h2 {	color: #08a012;}
.refuges-de-montagne .listItem {	border-color: #08a012;	}
.refuges-de-montagne .listItem h3 {	color: #08a012;	}

/* end green */



/* pink */
.parcours-famille h2 {	color: #ff007f;}
.parcours-famille .listItem {	border-color: #ff007f;	}
.parcours-famille .listItem h3 {	color: #ff007f;	}
/* end pink */

/* orange */
.defaultTag h2 {	color: #ff6d00;}
.defaultTag .listItem {	border-color: #ff6d00;	}
.defaultTag .listItem h3 {	color: #ff6d00;	}
/* end orange */


/* .itemPics,  */.itemSlider {
	position: absolute;
	z-index: 2;
	left: 410px;
	top: 50px;
	width: 190px;
	height: 160px;
	border: solid 12px;
	border-bottom: solid 45px;
	border-color: #fff;	
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
	cursor: pointer;
}

.itemMap {
	float: left;
	position: absolute;
	z-index: 1;
	top: 180px;
	background-image: url(../images/iconMap.png);
	background-repeat: no-repeat;
	width: 220px;
	padding-right: 30px;
	right: -30px;
	height: 20px;
	text-align: right;
	padding-top: 150px;
	cursor: pointer;
	font-size: 12px;
}

.itemMap:hover {
	color: #ff6d00;
}

#modalMap, #modalSlider {
	position: fixed;
	z-index: 26000;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
}

#embedMap {
	position: absolute;
	width: 700px;
	background-color: #fff;
	padding: 10px 20px 20px 20px;
	left: 50%;
	top:0;
	margin-left: -370px;
}

#embedMap button {
	float: right;
	border: none;
	background: transparent;
	cursor: pointer;
}

#embedMap button:hover {color: #ff6d00;}

#sliderContent {
	margin: 20px 0 0 0;
	text-align: center;
	overflow: hidden;
	float: left;
	width: 700px;
	height: 500px;
	position: relative;
}

.sliderContentItem {
	float: left;
	width: 700px;
	height: 500px;
}

.sliderContentPrev, .sliderContentNext {
	position: absolute;
	top:50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
	z-index: 2000;
}

.sliderContentPrev:hover, .sliderContentNext:hover{
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
}

.sliderContentPrev {
	left: 0;
	background-image: url(../images/overlayPrev.png);
}

.sliderContentNext {
	right: 0;
	background-image: url(../images/overlayNext.png);
}

#modalMapBg, #modalSliderBg {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
	z-index: -1;
}

#listResults .rubriqueKiosque h2 {
	padding-left: 0;
	color: #ff6d00;
	margin-bottom: 30px;
}

#listResults .rubriqueKiosque a { color: #000; }
#listResults .rubriqueKiosque a:hover { color: #ff6d00;}

#listResults .rubriqueKiosque .listItem h3 {
	background-image: url(../images/iconPdf.png);
	background-repeat: no-repeat;
	background-position: left top 3px;
	padding-left: 24px;
}

.contactForm {
	float: left;
	clear: both;
	width: 100%;
}
.contactForm span {
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 40px 0;
	font-size: 12px;
	color: #ff6d00;
}

.contactForm label {
	float: left;
	clear: both;
	width: 140px;
	text-align: right;
	margin-right: 10px;
	padding: 5px 0;
}

.contactForm input, .contactForm textarea {
	margin: 0 0 20px 0;
	width: 300px;
	font-size: 14px;
	padding: 5px;
	font-family: 'Titillium Web', sans-serif;
}

.contactForm textarea {
	height: 10em;
}

.contactForm input[type=submit] {
	margin-left: 150px;
	border: none;
	width: 100px;
	text-align: center;
	padding: 6px 0;
	background: #ff6d00;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
}
.contactForm input[type=submit]:hover { background: #000;}

.contactForm a {
	font-size: 12px;
	margin-left: 20px;	
}

.field_error {
	float: left;
	width: 100%;
}

.field_error span {
	margin: 0; padding: 0;
	color: red;
}

.field_error ul {
	list-style: none;
	margin: 0 0 0 150px;
	padding: 0;
}

#box_congrats {
	padding: 20px;
	width: calc(100% - 40px);
	color : #fff;
	background: green;
}

/******* MOBILE */

body.css900 a.linkSlider { bottom: 60px}

body.css900 #overlayContent {
	margin-left: -45%;
	width: 90%;
}

body.css900 .contentContainer {
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 0;
	float: right;
}

body.css900 #contentLeftCol {
	width: 100%;
}

body.css900 #resume { font-size: 16px; }

body.css900 #contentHeader .contentContainer {	margin-left: -50%;}
body.css900 .goUp {display: none;}

body.css900 #contentTitle { font-size: 26px; }

body.css900 #breadcrumbs { font-size: 12px; }

body.css900 .contentSlide, body.css900 .contentSlideItem  {
	width: 100%;
	background: #dadada;
}

body.css900 .citation {
	width: calc(100% - 40px);
	padding: 20px 0;
	margin: 40px 20px;
}

body.css900 .paddingText p img {
	width: 100%;
}


body.css900 #contentRightCol {
	width: calc(100% - 40px);
	font-size: 16px; 
	position: relative;
	padding : 40px 0 80px 0;
	margin: 0 20px;
	border-top: solid 2px #ff6d00;
}

body.css900 #contentRightCol img {
	width: 100%;
	height: auto;
}

body.css900 #RightColTools {
	width: 100%;
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
	border-top: solid 1px #000;
	padding-top: 20px;
}

body.css900 a#toolPrint {display: none;}

body.css900 #filtersBox {
	padding: 0 20px 40px 20px;
	width: calc(100% - 40px);
}

body.css900 #filtersChoice {
	padding: 30px;
	width: calc(100% - 60px);
}

body.css900 #boxNewSearch #search_form input[type="text"] {
	width: calc(100% - 20px);
}

body.css900 #listResults {
	width: calc(100% - 40px);
	padding: 0 20px;
	margin: 0;
}

body.css900 #listResults h2 {
	font-size: 20px;
	height: 1em;
}

body.css900 .contactForm label {
	width: 100%;
	margin: 0;
	text-align: left;
}

body.css900 .contactForm input, body.css900 .contactForm textarea {
	width: calc(100% - 10px);	
}
body.css900 .contactForm input[type=submit] {
	margin-left: 0;
	width: 100px;
}

body.css900 .field_error ul {
	margin: 0;
}

body.css900 .tabs {
	width: 100%;
}

body.css900 .tabs h2 {	
	text-transform: uppercase;
	left: 20px;
	width: calc(50% - 60px);
	padding: 15px 20px;
	margin: 0;
	font-size: 20px;
	overflow: hidden;
	height: 1em;
}

body.css900 .tabs.inativeTabs h2 {	
	left: 50%;
	color: #726a52;
	background: #fff;
}

body.css900 #filtersBox #filtersChoice {
	position: relative;
	top: 50px;
	float: left;
}

body.css900 #subFiltersBox {
	width: calc(100% - 40px);
	margin-top: -10px;
}

body.css900 .filtersInput { height: auto; clear: both; width: 100%;}
body.css900 .filtersInput label {font-size: 12px;}
body.css900 span.subFilter {margin-top: 10px;}

body.css900 .boxItemText {
	width: calc(100% + 18px);
	max-width: 440px;
}

body.css900 .itemText {
	width: calc(100% - 60px);
	padding: 0 10px 0 50px;
}

body.css900 .itemSlider {
	position: relative;
	float: left;
	clear: both;
	left: 20px;
	top: -10px;
}

body.css900 .itemMap {
	position: relative;
	float: left;
	top: -15px;
	left: 0;	
}