{% extends "AdminBundle::base_admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
    
{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <div id="stats">
    </div>
    {{ parent() }}
{% endblock %}